@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 142 76% 36%;
    --primary-foreground: 144 61% 20%;
    --border: 0 0% 20%;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    @apply transition-colors duration-300;
  }
}

html {
  scroll-behavior: smooth;
}
